.display{
display:none;
}
.galleryimage_small{
	background-color:#FFF; 
	width:200px;
	text-align: center;
	float: left;
    margin: 5px;
    border: 1px solid #ccc; 
	position:relative; 
	cursor:pointer;
    overflow: hidden;
    max-height: 180px;
}

.galleryimage_big{	
	background-color:#FFF; 
	height:500px; 
	width:900px
}

#title {
    background-color: #fff;
    padding: 5px;
    font-size: 20px;
    text-align: left;
}

.prev {
    background-color: #FFF;
    position: absolute;
    float: none;
    top: 50%;
    left: 0px;
	padding: 11px;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}

.overlay_gallery {   
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background-color: #000; 
	opacity:0.3
	}

.image_title {
    background: rgba(0, 0, 0, 0.6);
    padding: 5px;
    color: #fff;
    position: ABSOLUTE;
    width: 100%;
    bottom: -1px;
}

.next{	
	background-color:#FFF; 
	position:absolute; 
	top: 50%;
    right: 0px;
	padding: 11px;
    border-radius: 5px 0px 0px 5px;
    cursor: pointer;
}

.header_pop .close {
    float: none;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-shadow:inherit!important;
	position:absolute; top:0px; right:0px;
	padding: 8px 11px 9px 11px!important;
    right: 5px;
    top: 5px;
	background-color:#333;
	opacity:1!important; 
	border-radius: 5px 5px 0px 0px!important;
}

.header_pop .close:hover{
	color:#fff;
}

.gallery_img{ position:relative; 
    display:inline-block;  
    max-width: 80%;   
    background-color: #fff; 
    border:1px solid #ccc;     
    padding: 5px;
	z-index:1;
}

.galleryimage_small img {
    width: 100%;
    min-height: 180px;
}

.slider{
	width:inherit;
	max-width: 100%; 
    min-width: 100%;	
}

.image_open_main{
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: table;
    width: 100%;
    height: 100%;
}

.header_pop{ 
    width:500px; 
    margin:0px auto;
}

.popup{
	width: 500px;
    margin: 0px auto;
    vertical-align: middle;
    position: relative;
    height: 100%;
    display: table-cell;
    text-align: center;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
.gallery_img { width: 80%;}
.popup {width: 100%;}
.galleryimage_big {    width: 100%;}
.header_pop {width: 100%;}
}
